html {
    height: 100%;
}

body{
    height: 100%;
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;/* centrar en la mitas de la pantalla */
}

/* SALUDO */
.saludo{
    max-width: 768px;
    background-color: black;
    padding: 3rem; /* hace el recuadro mas grande */
    border-radius: 2rem;
    box-shadow: 20px 20px 25px black;
    color: white;
    text-align: center;
}

.saludo h1{
    font-size: 3rem; /* alarga el recuadro */
    margin-top: 0;
}

.saludo h2{
    margin-top: 0;
}

.saludo button{
    width: 100%;
    border: none;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: purple;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}